[build]
  builder = "nixpacks"
  [build.buildCommand]
    command = "cd server && npm install"
  
[deploy]
  startCommand = "cd server && npm start"
  restartPolicyType = "ON_FAILURE"
  restartPolicyMaxRetries = 10

